@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #f0f2f5;   /* was #f8f9fa */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}